<a href="https://colab.research.google.com/github/PraveenReddy7890/git_dem1/blob/main/unit3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

#1.create a series which includes null values

In [ ]:
s1 = pd.Series([1,2,np.nan,3,np.nan])
s1

0    1.0
1    2.0
2    NaN
3    3.0
4    NaN
dtype: float64

#2.check if every element of series is null or not ?

In [ ]:
s1.isnull()

0    False
1    False
2     True
3    False
4     True
dtype: bool

#3.create a dataframe which includes null values

In [ ]:
df = pd.DataFrame([[1,6.5,3.0],
                   [1.0,np.nan,np.nan],
                   [np.nan,np.nan,np.nan],
                   [np.nan,6.5,3.0]])

#4.to remove all the rows which contains null values

In [ ]:
df.dropna()

     0    1    2
0  1.0  6.5  3.0

#5.to remove all the rows which contains all null values

In [ ]:
df.dropna(how ='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

#6.to add a column for existing dataframe with all null values

In [ ]:
df[3] = np.nan

In [ ]:
df

     0    1    2   3
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

#7.To remove the columns which contains all null values

In [ ]:
df.dropna(axis = 1 ,how = 'all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

#8.create a dataframe with 7 rows and 3 columns with random values

In [ ]:
df2 = pd.DataFrame(np.random.randn(7,3))
df2

          0         1         2
0  0.702684 -0.891041  0.427574
1  0.783839 -0.197779 -1.200158
2 -0.561713  0.850958  1.637560
3 -0.721629 -0.042536  0.129432
4  0.269437 -0.040007  0.358838
5  0.052205 -0.225749  0.792559
6 -0.921011 -0.309570  0.310936

#9.impute null values at column index 1 starting from row index 0 to 3 and also at column index 2 starting from row index 0 to 1

In [ ]:
df2.iloc[:4,1] = np.nan

In [ ]:
df2.iloc[:2 ,2] = np.nan

In [ ]:
df2

          0         1         2
0  0.702684       NaN       NaN
1  0.783839       NaN       NaN
2 -0.561713       NaN  1.637560
3 -0.721629       NaN  0.129432
4  0.269437 -0.040007  0.358838
5  0.052205 -0.225749  0.792559
6 -0.921011 -0.309570  0.310936

#10. Delete a row if it does not contain a minimum of two non - missing values

In [ ]:
df2.dropna(thresh = 2)

          0         1         2
2 -0.561713       NaN  1.637560
3 -0.721629       NaN  0.129432
4  0.269437 -0.040007  0.358838
5  0.052205 -0.225749  0.792559
6 -0.921011 -0.309570  0.310936

#11.Fill all the null values with zero

In [ ]:
df2.fillna(0)

          0         1         2
0  0.702684  0.000000  0.000000
1  0.783839  0.000000  0.000000
2 -0.561713  0.000000  1.637560
3 -0.721629  0.000000  0.129432
4  0.269437 -0.040007  0.358838
5  0.052205 -0.225749  0.792559
6 -0.921011 -0.309570  0.310936

#12.fill all the null values at column index 1 with 50 and column index 2 with 100

In [ ]:
df2.fillna({1:50,2:100})

          0          1           2
0  0.702684  50.000000  100.000000
1  0.783839  50.000000  100.000000
2 -0.561713  50.000000    1.637560
3 -0.721629  50.000000    0.129432
4  0.269437  -0.040007    0.358838
5  0.052205  -0.225749    0.792559
6 -0.921011  -0.309570    0.310936

#13.Fill all the null values with forward values

In [ ]:
df.fillna(method='ffill')

     0    1    2   3
0  1.0  6.5  3.0 NaN
1  1.0  6.5  3.0 NaN
2  1.0  6.5  3.0 NaN
3  1.0  6.5  3.0 NaN

#14.Fill only 2 null values with forward values

In [ ]:
df.fillna(method = 'ffill',limit = 2)

     0    1    2   3
0  1.0  6.5  3.0 NaN
1  1.0  6.5  3.0 NaN
2  1.0  6.5  3.0 NaN
3  1.0  6.5  3.0 NaN

In [ ]:
df2.fillna(method = 'bfill',limit = 2)

          0         1         2
0  0.702684       NaN  1.637560
1  0.783839       NaN  1.637560
2 -0.561713 -0.040007  1.637560
3 -0.721629 -0.040007  0.129432
4  0.269437 -0.040007  0.358838
5  0.052205 -0.225749  0.792559
6 -0.921011 -0.309570  0.310936

In [ ]:
df.fillna(method='ffill',limit=1)

     0    1    2   3
0  1.0  6.5  3.0 NaN
1  1.0  6.5  3.0 NaN
2  1.0  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

#15.To fill all the null values with mean value of the column

In [ ]:
df.fillna(df.mean())

     0    1    2   3
0  1.0  6.5  3.0 NaN
1  1.0  6.5  3.0 NaN
2  1.0  6.5  3.0 NaN
3  1.0  6.5  3.0 NaN

In [ ]:
df.mean()

0    1.0
1    6.5
2    3.0
3    NaN
dtype: float64

#16.Create the following DataFrame containing 2 columns k1 and k2

In [ ]:
df = pd.DataFrame({'k1':['one','two']*3 +['two'],
                   'k2' : [1,1,2,3,3,4,4]})
df

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

#17.To remove duplicate rows from dataframe

In [ ]:
df.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

#18.Create a dataframe contain two columns name,age and transform the 'age' column using map() method and user-defined function to create a new column 'age_in_months'.

In [ ]:
df = pd.DataFrame({"name" : ['alex','bob','alice','john'],
                   'age':[20,30,25,40]})
def age_months(age):
  return age*12
df['age_in_months'] = df['age'].map(age_months)
df

    name  age  age_in_months
0   alex   20            240
1    bob   30            360
2  alice   25            300
3   john   40            480

#19.Create a dataframe contain two columns name,age and transform the 'age' column using map() method and dictionary to create a new column 'age_groups'.

In [ ]:
df = pd.DataFrame({"name" : ['surya','star','arya','varun'],
                   'age':[25,30,35,40]})
#create a dictionary 
age_group = {18:'18-24',25:'25-34',35:'35-44',45:'45+'}

# Apply map() method
df['age_groups'] = df['age'].map(age_group)
df

    name  age age_groups
0  surya   25      25-34
1   star   30        NaN
2   arya   35      35-44
3  varun   40        NaN